<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forms
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Company Detail
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

<!--Pooja Added -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form" action="/pages/forms" method="post">

                            <div class="form-group">
                                <label>Company Name</label>
                                <input class="form-control" placeholder="Comapany Name" name="company" id="company">  
                            </div>

                            <div class="form-group">
                                <label>Contact</label>
                            <input class="form-control" placeholder="Contact Information" name="contact" id="contact">
                            </div>

                            <div class="form-group">
                                <label>Email Contact</label>
                            <input class="form-control" placeholder="email@companyname.com" name="email" id="email">
                            </div>

                            <div class="form-group">
                                <label>Applied On</label>
                                <input class="form-control" type="date" name="bday" max="2016-12-31" placeholder="Applied on" name="appliedOn" id="appliedOn">
                            </div>
                            
                            <div class="form-group">
                                <label>Status</label>
                                <select class="c-select" name="status" id="status">
                                  <option value="1">Accept</option>
                                  <option value="2">Reject</option>
                                  <option value="3">In Progress</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Site</label>
                                <input class="form-control" placeholder="Site.com" name=site>
                            </div>

                            <div class="form-group">
                                <label>Skill Required</label>
                                <div class="checkbox" name>
                                    <label>
                                        <input type="checkbox" value="C" Name="skills" >C
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="C++" name="skills">C++
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Java" name="skills">Java
                                    </label>
                                </div>
                                 <div class="form-group">
                                <label>Other</label>
                                <input class="form-control">
                            </div>
                            </div>

                            <div class="form-group">
                                <label> Note</label>
                                <textarea class="form-control" rows="3" name="note"></textarea>
                            </div>

                           <div class="form-group">
                                <label>Follow-On</label>
                                <input class="form-control" type="date" name="followOn" max="2005-12-31">
                            </div>

                             <div class="form-group">
                                <label>Reminder</label>
                             <input class="form-control" type="date" name="reminder" max="2005-12-31">
                            </div>

                            <button type="submit" class="btn btn-success">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>

                        </form>


                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->